
.image{
    overflow: hidden;
    position: relative;
    z-index: -1;
  
}

.image img {
    max-width: 700px;
    transform: rotateZ(-5deg) translateY(-2rem) translateX(-1rem); 
}

.header-card{
    margin: -24vh auto 0 auto;
    width: 80%;
    height: auto;
    background: rgb(75, 61, 61);
    color: antiquewhite;
    padding: 1rem;
    font-size: small;
}

.title h1{
    text-align: center;
    margin: 1rem;
}

.content p{
    text-align: center;
    margin: 1rem;
    line-height: 1.5em;
}

@media (min-width: 612px){
.image{
    height: 370px;
}

.header-card {
    font-size: medium;
}

.image img {
    max-width: 1600px;
    transform: rotateZ(-5deg) translateY(-27rem) translateX(0rem); 
}

.header-card{
    margin: -40vh auto 0 auto;
}

}

@media (min-width: 912px){
    
    .image img {
        min-width: 1700px;
    }
    
    .header-card{
        margin: -25vh auto 0 auto;
        width: 50%;
    }
    }